.App {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 10%;
}

.grid {
  margin: 10px auto 10px auto;
  height: 50vh;
  width: 100%;
  border: 2px solid rgb(36, 35, 35);
  padding: 1.25rem;
  display: flex;
  align-items: flex-end;
}

.block {
  text-align: center;
  color: white;
  margin: 0 auto;
  display: block;
  width: 5px;
  background: rgb(9,9,121);
  background: linear-gradient(0deg, rgba(9,9,121,0.742810503107493) 21%, rgba(0,212,255,0.6167600829394257) 100%); 
}

[data-height]::before {
  content: attr(data-height);
  font-size: large;
  color: red
}


.buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.buttons button {
  width: 200px;
  font-size: large;
}